@charset "UTF-8";

.mw500 {
	max-width: 500px;
}

.mw550 {
	max-width: 550px;
}

.mw600 {
	max-width: 600px;
}

.mw650 {
	max-width: 650px;
}

.mw700 {
	max-width: 700px;
}

.mw750 {
	max-width: 750px;
}

.mw800 {
	max-width: 800px;
}

.mw850 {
	max-width: 850px;
}

.mw900 {
	max-width: 900px;
}

.mw950 {
	max-width: 950px;
}
