@charset "UTF-8";

:root {
	--nav-h: 50vh;
	--row1-h: 30vh;
	--row2-h: 20vh;
	--margin: 5px;
}

nav > div {
	width: 98%;
	height: var(--nav-h);
	margin-right: var(--margin);
}

.row1 {
	height:var(--row1-h);
}

.row1 > div {
	height: 95%;
	margin-bottom: calc(var(--margin) * 2);
}

.row2 > div {
	height: var(--row2-h);
}