@charset "UTF-8";

:root {
	--margin: 10px;
	--row1-h: 190px;
	--row2-h: 150px;
	--row3-h: 140px;
}

nav>div, aside>div {
	width: 96%;
	height: calc(var(--row1-h) + var(--row2-h) + var(--row3-h) + var(--margin) * 2);
}

nav>div {
	margin-right: var(--margin);
}

aside>div {
	margin-left: var(--margin);
}

aside:before {
	clear: both;
}

.row1 {	
	margin-bottom: var(--margin);
}

.row1>div {
	height: var(--row1-h);
}

.row2>div {
	height: var(--row2-h);
}

.row3 {
	margin-top: var(--margin);
}

.row3>div {
	height: var(--row3-h);
}